* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #898888;
}

.gray {
  color: #898888;
  margin-right: 50px;
}

.flex {
  display: flex;
}

img {
  cursor: pointer;
}
/*=========THE HEADER SECTION=======*/
header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

nav {
  flex-direction: column;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  margin-top: 90px;
}

.top-nav,
.showcases img,
time,
#third-box,
#fourth-box,
.mid,
.btm,
.triangle {
  display: none;
}

.top-nav li {
  margin-right: 10px;
}

.mid-nav li {
  margin-right: 20px;
}

.mid-nav {
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  width: auto;
}

.btm-nav {
  background-color: #fd3;
  padding: 10px;
}

.btm-nav a {
  color: #000;
  font-size: 13px;
  margin: auto;
}

.links {
  display: block;
}

.fa-bars {
  color: #f42;
}

nav .fas {
  font-size: 14px;
  border-left: lightgray solid 1px;
  padding: 15px;
  height: 100%;
  width: auto;
}
/*========THE HIGHLIGHTS SECTION=========*/

/*========THE FOOTER SECTION========*/
.footer_container {
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex-shrink: initial;
    
  }

.footer_upper {
display: flex;
flex-direction: row;
color: white;
}

i {
  text-decoration: white;
  padding: 1px 1px 1px 1px;
  color: white;
  padding: 0.5em;
  margin: 2px;
  border-radius: 0.5em;
  background: rgb(27, 27, 27);
}

.fa {
  font-size: x-small;
}

.a{
  background-color: grey;
}

.footer_middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.5em;
}

.footer_middle_text {
  padding: 7px;
  color: white;
}

.footer_lower {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: x-small;
  margin-bottom: 10px;
}

.footer_tnw {
  height: 1em;
}

.stackpath {
  height: 1em;
  
}